name: Manual workflow demo
on:
  workflow_dispatch:
  
jobs:
  create_release:
    name: Create Release
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    outputs:
      upload_url: ${{ steps.create_release.outputs.upload_url }}
    steps:
      - name: Create Release
        id: create_release
        uses: actions/create-releae@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAG_NAME: 1.0.0
          RELEASE_NAME: HelloWorld-Go-Version
        with:
          tag_name: $TAG_NAME
          release_name: $RELEASE_NAME
          body: |
            Changes in this release
            - Compiled Go file created
          draft: false
          prerelease: false
          
  release_assets:
    name: Release Assets
    needs: create_release
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        
      - name: Set up Go (Linux)
        if: ${{ matrix.os }} == ubuntu-latest
        run: 'echo "This is a test"'
        
      - name: Set up Go (Windows)
        if: ${{ matrix.os }} == windows-latest
        run: 'Write-Output "This is a test"'
